# Virtual environments
venv/
.venv/

notes
experiment.py
noise_experiment.py

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# IDE filesgit rm --cached <filename>
.idea/

# Generated outputs
data/
figures/
